datazone_domain_name        = "example_domain_template"
datazone_description        = "AWS DataZone Domain"
datazone_kms_key_identifier = null
single_sign_on              = {}
tags                        = null
region                      = "ap-southeast-2"

environment_blueprints = {
    DefaultDataWarehouse = {
      enabled_regions                  = ["ap-southeast-2"]
      environment_blueprint_identifier = "DefaultDataWarehouse"
    }
    DefaultDataLake = {
      enabled_regions                  = ["ap-southeast-2"]
      environment_blueprint_identifier = "DefaultDataLake"
    }
}

 datazone_projects = {
    shared_env = {
      description    = "shared environment project"
      glossary_terms = null
    }
    data_team = {
      description    = "Data Team Project 1"
      glossary_terms = null
    }
}